body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

#chart{
height:500px;
margin:20px;
}

.panel{
background:#1e293b;
padding:20px;
width:320px;
margin:auto;
border-radius:10px;
}

#signal{
font-size:32px;
font-weight:bold;
margin-bottom:10px;
}

.buy{
color:#00ff9d;
}

.sell{
color:#ff4d4d;
}
